<div class="row">
  <div class="small-12 columns">
    <h2>OK, let's start with finding family.</h2>
    <div data-form="search">
    <%= render partial: "search_form.html.erb", locals: {user: @user} %>
    </div>
  </div>
</div>