<div class="row">
  <div class="small-12 columns">
    <%= link_to "Back", dashboard_path%>
    <h2>OK, let's start with finding family.</h2>
    <div class="small-3 columns">
      <label>How many people are you looking for?</label>
    </div>
    <div class="small-9 columns">
      <input class="queries" data-value="queries" type="text"/>
    </div>
    <div class="search-river" data-river="search">
      <%= render partial: "search_form", locals: {user: @user, countries: @countries} %>
    </div>
  </div>
</div>