<div class="content">
<div class="row">
  <div class="small-12 medium-9 medium-centered columns">
    <h1>OK, let's start with someone you know.</h1>
      <br>
    <div class="small-10 medium-3 medium-offset-4 text-left columns">
      <label>How many people are you looking for?</label>
    </div>
    <div class="small-2 medium-1 large-1 columns">
      <input class="queries" data-value="queries" type="text"/>
    </div>
    <div class="search-river" data-river="search">
      <%= render partial: "search_form", locals: {user: @user, countries: @countries} %>
    </div>
  </div>
</div>

<div class="row">
<div class="small-12 small-centered text-center columns">
  <a href="/notice" class="button round">Submit</a>
</div>
</div>
</div>