<div class="content">
  <div class="row">
   <div class="small-12 medium-9 medium-centered columns">
      <h1>Ok <%=@user.firstname%>, we will notice you if we find anyone matching these descriptions.</h1>
      <br>
      <%= link_to "Back to Dashboard", dashboard_path, class:"button round" %>
    </div>
  </div>
</div>