<div class="row session-bg">
 <div class="small-12 medium-9 medium-centered columns">
 <div class="session text-center">
  <h1>Hi there, We're so glad you made it. We'll help you get settled. 
  </h1>
  <br>
  <%=image_tag('keepkey.png')%>
  <p><div class="orange"> Connect your KeepKey to this computer</p>
    <p>Or</p>
  <p><div class="orange">Type in your Hash Key below</p>
    <%= form_for :session, url: sessions_path do |f| %>
     <p><%= f.password_field :key, placeholder: "password" %></p>
     <p><%= f.submit "Submit", class:"button round"%></p>
    <%end%>
  </div>
 </div>
</div>