<nav class="top-bar" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <% if current_user %>
          <a href="<%=dashboard_path%>"><span class="blinking-cursor">_</span></a>
        <% else %>
          <a href="<%=root_path%>"><span class="blinking-cursor">_</span></a>
        <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section">

    <ul class="right">
    <li class="vertical-align"><%=image_tag('group.png')%></li>
      <li><a id="about-button">About</a></li>
      <li><a id="contact-button">Contact</a></li>
      <% if current_user %>
        <li><%= link_to "Log Out", logout_path, method: "delete" %></li>
        <li class="divider"></li>
      <% end %>
    </ul>
  </section>
</nav>