<nav class="top-bar hide-for-small" data-topbar>
  <ul class="title-area">
    <li class="name">
      <h1>
        <% if current_user %>
          <a href="<%=dashboard_path%>"><span class="blinking-cursor">_</span></a>
        <% else %>
          <a href="<%=root_path%>"><span class="blinking-cursor">_</span></a>
        <% end %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
  </ul>

  <section class="top-bar-section hide-for-small">

    <ul class="right">
      <li><a id="stills-button">Stills</a></li>
      <li class="divider"></li>
      <li><a id="videos-button">Motion</a></li>
      <li class="divider"></li>
      <li><a id="about-button">About</a></li>
      <li class="divider"></li>
      <li><a id="contact-button">Contact</a></li>
      <li class="divider"></li>
    </ul>
  </section>
</nav>